<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:freda="http://www.freda.com/schema/freda" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.freda.com/schema/freda
       http://www.freda.com/schema/freda/freda.xsd">

	<!-- registry config -->
	<freda:registry id="registry-zookeeper-1" ip="127.0.0.1" port="2181" protocol="zookeeper" />
	
	<!-- netty-client config -->
	<freda:net-client id="net-client-http-1" protocol="freda" bossThreads="2" />

	<freda:reference id="demoService" interface="com.freda.test.example.DemoService" balance="hash"/>

</beans>